{% extends 'layout_admin.html.twig' %}
{% block base %}
 <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="dashboard_header mb_50">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="dashboard_header_title">
                                <h3>Tailles</h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dashboard_breadcam text-right">
                                <p><a href="index-2.html">Dashboard</a> <i class="fas fa-caret-right"></i> Tailles</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
                <div class="col-12">
                    <div class="QA_section">
                        <div class="white_box_tittle list_header">
                            <h4>Table des Tailles</h4>
                            <div class="box_right d-flex lms_block">
                                <div class="add_button ml-10">
                                <button type="button" class="btn_1" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ajouter un Taille</button>
                                </div>
                            </div>
                        </div>
                        <div class="QA_table mb_30">
                            <!-- table-responsive -->
                            <table class="table lms_table_active">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for Taille in tailles %}
                                    <tr>
                                        <th scope="row">{{ Taille.id }}</th>
                                        <td>{{ Taille.description }}</td>
                                        <td>{{ Taille.status }}</td>
                                        <td>
                                        <a type="button" href="#" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal1{{ Taille.id }}" data-whatever="@mdo">modifier</a>
                                        <a href="http://127.0.0.1:8000/deleteProduct/{{ Taille.id }}" class="btn btn-danger">supprimer</a>
                                    </tr>

                                    <div class="modal fade" id="exampleModal1{{ Taille.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Modifier un Taille</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <form action="http://127.0.0.1:8000/editTaille/{{ Taille.id }}" method="post">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                  <label for="exampleInputPassword1">Description : </label>
                                                  <input type="text" class="form-control" id="exampleInputPassword1" name="desc" value="{{ Taille.description }}">
                                                </div>
                                                <div class="form-group">
                                                  <label for="exampleFormControlSelect1">Status : </label>
                                                  <select class="form-control" id="exampleFormControlSelect1" name="status">
                                                    {% if (Taille.status == 'Disponible')  %}
                                                    <option value="{{ Taille.status }}">{{ Taille.status }}</option>
                                                    <option value="Epuisé">Epuisé</option>
                                                    {% else %}
                                                    <option value="{{ Taille.status }}">{{ Taille.status }}</option>
                                                    <option value="Disponible">Disponible</option>
                                                    {% endif %}
                                                  </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                              <button type="submit" class="btn btn-primary">Enregistrer</button>
                                            </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un Taille</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="http://127.0.0.1:8000/createTaille" method="post">
      <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputPassword1">Description : </label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Description" name="desc">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Status : </label>
            <select class="form-control" id="exampleFormControlSelect1" name="status">
              <option value="">Choisir un Status</option>
              <option value="Disponible">Disponible</option>
              <option value="Epuisé">Epuisé</option>
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}

 


